<a href="https://colab.research.google.com/github/MatheusRQ/Python/blob/main/Rabisco_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nome = 'Carlos'
idade = 38
cpf = '156245634541'
peso = 54.5
altura = 1.75

In [ ]:
pessoas = {
    nome : (
        {'idade':idade, 'cpf': cpf, 'peso':peso, 'altura':altura}
    )
}

In [ ]:
pessoas

{'Carlos': {'altura': 1.75, 'cpf': '156245634541', 'idade': 38, 'peso': 54.5}}

In [ ]:
pessoas.keys()

dict_keys(['Carlos'])

In [ ]:
pessoas.values()

dict_values([{'idade': 38, 'cpf': '156245634541', 'peso': 54.5, 'altura': 1.75}])

In [ ]:
pessoas.items()

dict_items([('Carlos', {'idade': 38, 'cpf': '156245634541', 'peso': 54.5, 'altura': 1.75})])

In [ ]:
pessoas

{'Carlos': {'altura': 1.75, 'cpf': '156245634541', 'idade': 38, 'peso': 54.5}}

In [ ]:
for key, value in pessoas.items():
  print(value)

{'idade': 38, 'cpf': '156245634541', 'peso': 54.5, 'altura': 1.75}

In [ ]:
len(pessoas)

1

In [ ]:
pessoas = [
           {'Higor': {'altura' : 1.60, 'peso': 52.6, 'hobbies':['leitura', 'canto', 'danca']},
            'Carlos': {'altura' : 1.50, 'peso': 53.6, 'hobbies':['caminhadas', 'piano', 'pesca']}}
]
pessoas

[{'Carlos': {'altura': 1.5,
   'hobbies': ['caminhadas', 'piano', 'pesca'],
   'peso': 53.6},
  'Higor': {'altura': 1.6,
   'hobbies': ['leitura', 'canto', 'danca'],
   'peso': 52.6}}]

In [ ]:
import pandas as pd
pd.DataFrame(pessoas)

                                               Higor                                             Carlos
0  {'altura': 1.6, 'peso': 52.6, 'hobbies': ['lei...  {'altura': 1.5, 'peso': 53.6, 'hobbies': ['cam...

In [ ]:
pessoas = ({'nome': 'Higor', 'altura' : 1.60, 'peso': 52.6, 'hobbies':['leitura', 'canto', 'danca']},
           {'nome':'Carlos', 'altura' : 1.50, 'peso': 53.6, 'hobbies':['caminhadas', 'piano', 'pesca']})

pd.DataFrame(pessoas)

     nome  altura  peso                     hobbies
0   Higor     1.6  52.6     [leitura, canto, danca]
1  Carlos     1.5  53.6  [caminhadas, piano, pesca]

In [ ]:
pessoas = ({'nome': ['Higor', 'Carlos'],
            'altura':[1.60, 1.50],
            'peso':[52.6, 53.6],
            'hobies':[['leitura', 'canto', 'danca'], ['caminhadas', 'piano', 'pesca']]})
pd.DataFrame(pessoas)

     nome  altura  peso                      hobies
0   Higor     1.6  52.6     [leitura, canto, danca]
1  Carlos     1.5  53.6  [caminhadas, piano, pesca]

In [ ]:
for key, value in pessoas.items():
  print(key, value)

nome ['Higor', 'Carlos']
altura [1.6, 1.5]
peso [52.6, 53.6]
hobies [['leitura', 'canto', 'danca'], ['caminhadas', 'piano', 'pesca']]

In [ ]:
for key in pessoas.keys():
  print(key)

nome
altura
peso
hobies

In [ ]:
for values in pessoas.values():
  print(values)

['Higor', 'Carlos']
[1.6, 1.5]
[52.6, 53.6]
[['leitura', 'canto', 'danca'], ['caminhadas', 'piano', 'pesca']]

In [ ]:
for items in pessoas.items():
  print(items)

('nome', ['Higor', 'Carlos'])
('altura', [1.6, 1.5])
('peso', [52.6, 53.6])
('hobies', [['leitura', 'canto', 'danca'], ['caminhadas', 'piano', 'pesca']])

In [ ]:
pessoas_2 = [
           {'Higor': {'altura' : 1.60, 'peso': 52.6, 'hobbies':['leitura', 'canto', 'danca']},
            'Carlos': {'altura' : 1.50, 'peso': 53.6, 'hobbies':['caminhadas', 'piano', 'pesca']}}
]

In [ ]:
for pessoa in pessoas_2:
  for key, value in pessoa.items():
    if (value['altura'] == 1.6):
      print(key)
    else:
      print(value)

Higor
{'altura': 1.5, 'peso': 53.6, 'hobbies': ['caminhadas', 'piano', 'pesca']}

In [ ]:
'Higor' in pessoas_2[0]

True

In [ ]:
pessoas_2[0]['Higor']['hobbies'][2]

'danca'