<a href="https://colab.research.google.com/github/MatheusRQ/Python-e-Data_Science/blob/main/Rabisco_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
filmes = pd.read_csv('https://raw.githubusercontent.com/MatheusRQ/Python-e-Data_Science/main/Databases%20Diversas/ml-latest-small/movies.csv')
filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [4]:
type(filmes)

pandas.core.frame.DataFrame

In [5]:
filmes.dtypes

movieId     int64
title      object
genres     object
dtype: object

In [20]:
print(filmes.query('movieId == 1').genres)

0    Adventure|Animation|Children|Comedy|Fantasy
Name: genres, dtype: object

In [62]:
string = filmes.query('movieId == 1').genres.to_string()

In [63]:
type(string)

str

In [69]:
string_2 = string.split(' ')
string_2

['0', '', '', '', 'Adventure|Animation|Children|Comedy|Fantasy']

In [70]:
string_2 = string.split(' ')[4]
string_2

'Adventure|Animation|Children|Comedy|Fantasy'

In [71]:
lista = string_2.split('|')

In [72]:
lista

['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy']

In [81]:
for generosListas in filmes.genres.head(10):
   print(generosListas.split('|'))

['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy']
['Adventure', 'Children', 'Fantasy']
['Comedy', 'Romance']
['Comedy', 'Drama', 'Romance']
['Comedy']
['Action', 'Crime', 'Thriller']
['Comedy', 'Romance']
['Adventure', 'Children']
['Action']
['Action', 'Adventure', 'Thriller']

In [84]:
filmes_de_comedia = filmes.query('genres.str.contains("Comedy")', engine='python')

In [85]:
filmes_de_comedia.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy
6        7  ...                               Comedy|Romance

[5 rows x 3 columns]

In [86]:
filmes_de_comedia.to_csv('comedyMovies.csv')